---
layout: default
---
  <article class="sm:px-8 mt-8">
    <div class="mx-auto max-w-7xl lg:px-8">
      <div class="px-4 sm:px-8 lg:px-12">
        <div class="relative mx-auto max-w-2xl lg:max-w-5xl">
          
            <div class="mx-auto max-w-2xl">

              
              <header class="flex-inline">
                <a class="flex group mb-8 h-10 w-10 items-center justify-center rounded-full bg-white/90 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur transition dark:bg-zinc-800/90 dark:ring-white/10 dark:hover:ring-white/20"
                href="/Portfolio/">
                <span class="sr-only">Back to projects</span>
                <svg viewBox="0 0 16 16" fill="none" aria-hidden="true"
                  class="h-4 w-4 fill-zinc-100 stroke-zinc-500 transition group-hover:fill-zinc-200 group-hover:stroke-zinc-700 [@media(prefers-color-scheme:dark)]:fill-teal-50 [@media(prefers-color-scheme:dark)]:stroke-teal-500 [@media(prefers-color-scheme:dark)]:group-hover:fill-teal-50 [@media(prefers-color-scheme:dark)]:group-hover:stroke-teal-600 dark:fill-zinc-700 dark:stroke-zinc-500 dark:group-hover:stroke-zinc-400">
                  <path d="M7.25 11.25 3.75 8m0 0 3.5-3.25M3.75 8h8.5" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </a>
                <h1 class="mt-6 text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">
                  {{ page.title }}
                </h1>
              </header>

              <div class="mt-8 prose prose-zinc max-w-none dark:prose-invert dark:text-zinc-400">
                {{ content }}
              </div>
            
          </div>
        </div>
      </div>
    </div>
</article>